<form method='POST'>

<input type="hidden" name="_csrf" value="{{csrfToken}}">

<div class="edit">

    <h1 class="title">Edit profile</h1>

    {{#rows}}
    <label for="first" class="firstL">First Name</label>
        <input class="first" type="text" name="first" value={{this.first}}>
    <label for="last" class="lastL">Last Name</label>
        <input class="last" type="text" name="last" value={{this.last}}>
    <label for="email" class="emailL">Email</label>
        <input class="email" type="text" name="email" value={{this.email}}>
    <label for="typedPw" class="pwL">Password</label>
        <input class="pw" type="password" name="typedPw">
    <label for="age" class="ageL">Age</label>
        <input class="age" type="text" name="age" value={{this.age}}>
    <label for="city" class="cityL">City</label>
        <input class="city" type="text" name="city" value={{this.city}}>
    <label class="url">Homepage
        <input class="url" type="text" name="url" value={{this.url}}>
    </label>
    {{/rows}}

    <button name="update" class="update"> Update </button>
    
    <a class="cncl" href="/thanks">Cancel</a>

    <button class="del" id="delete" name="deleteAcc"> Delete account </button>


</div>

</form>


<link rel="stylesheet" href="../edit-profile-style.css">