<form method='POST'></form>

<input type="hidden" name="_csrf" value="{{csrfToken}}">

<div class="edit">

    <h1 class="title">Edit profile</h1>

    {{#rows}}
    <label class="first">First Name
        <input class="first" type="text" name="first" value={{this.first}}>
    </label>
    <label class="last">Last Name
        <input class="last" type="text" name="last" value={{this.last}}>
    </label>
    <label class="email">Email
        <input class="email" type="text" name="email" value={{this.email}}>
    </label>
    <label class="pw">Password
        <input class="pw" type="password" name="typedPw">
    </label>
    <label class="age">Age
        <input class="age" type="text" name="age" value={{this.age}}>
    </label>
    <label class="city">City
        <input class="city" type="text" name="city" value={{this.city}}>
    </label>
    <label class="url">Homepage
        <input class="url" type="text" name="url" value={{this.url}}>
    </label>
    {{/rows}}

    <button class="update"> Update </button>
    
    <a class="cncl" href="/thanks">Cancel</a>

    <button class="del" id="delete" name="deleteAcc"> Delete account </button>


</div>


<link rel="stylesheet" href="../edit-profile-style.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../registerScript.js"></script>