<h1>Edit profile page</h1>

<div class="edit">

    <form method='POST'>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{#rows}}
    <p>First Name</p>
        <input type="text" name="first" value={{this.first}}>
    <p>Last Name</p>
        <input type="text" name="last" value={{this.last}}>
    <p>Email</p>
        <input type="text" name="email" value={{this.email}}>
    <p>Password</p>
        <input type="password" name="typedPw">
    <p>Age</p>
        <input type="text" name="age" value={{this.age}}>
    <p>City</p>
        <input type="text" name="city" value={{this.city}}>
    <p>Homepage</p>
        <input type="text" name="url" value={{this.url}}>
    {{/rows}}

    <button> Update </submit>

    <button id="delete" name="deleteAcc"> Delete your account </button>
    <a href="/thanks">Cancel</a>

</form>

</div>


<link rel="stylesheet" href="../edit-profile-style.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../registerScript.js"></script>