<div class="signers">

    <h1>All the Hummus-Saviors</h1>
    <ul>
        {{#rows}}
        <li>🖋️{{#if this.url}}<a href="{{this.url}}">{{this.first}} {{this.last}}</a><p> | </p>{{else}}{{this.first}} {{this.last}} | {{/if}} {{#if this.age}} {{this.age}} | {{/if}}<a href="/signers/{{this.city}}"> {{this.upperCity}}</a></li>
        {{/rows}}
    </ul>

</div>


<link rel="stylesheet" href="../signers-style.css">